{
  "Kestrel": {
    "Endpoints": {
      "Http": {
        "Url": "{server_host}"
      }
    }
  },
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "AllowedHosts": "*",
  "Mongo": {
    "ConnectionString": "{mongo_connection_string}",
    "Database": "{mongo_database}"
  },
  "Server": {
    "AppIdentifier": "{server_app_id}",
    "Port": {server_port}
  },
  "Static": {
    "Colors": [
      {static_colors}
    ]
  }
}